@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Boris Sigal</h1>
    <p>Learn about <a href="https://www.azuredevopslabs.com/labs/vstsextend/docker/">Docker based web application</a>.</p>
</div>
